<div class="min-h-screen bg-red-100 flex flex-row justify-around">
  <aside
    id="default-sidebar"
    class="shadow rounded-lg p-4 mt-4 top-0 left-0 z-40 w-64 h-full border-r-2 border-red-200 transition-transform -translate-x-full sm:translate-x-0 hover:shadow-2xl hover:cursor-pointer hover:border-none"
    aria-label="Sidebar"
  >
    <h1 class="font-semibold font-mono">Blog Outline</h1>
  </aside>

  <!-- Center Section (Blog Content) -->
  <div class="center-section w-3/5 p-4 mt-4">
    {{#with blogPost}}
      <div class="pb-4">
        {{#each tags}}
          <a
            class="inline-block px-3 py-1 mr-2 text-sm font-semibold text-gray-700 bg-pink-300 rounded-full"
            href="/home?tag={{name}}"
          >{{name}}</a>
        {{/each}}
      </div>
      <!-- Blog Title -->
      <h1 class="text-3xl font-bold text-gray-900 mb-4">{{title}}</h1>

      <!-- Author Info -->
      <p class="text-gray-700">Written by
        <a
          href="/u/{{author.username}}"
          class="text-blue-500"
        >{{author.username}}</a></p>
      <p class="text-gray-700">Published on {{formatDate publicationDate}}</p>
      {{#if updatedDate}}
        <p class="text-gray-700">Updated on {{formatDate updatedDate}}</p>
      {{/if}}

      <!-- Blog Content -->
      <div class="content mt-6 text-gray-800">
        {{{this.content}}}
      </div>

      <!-- Like and Comment Count -->
      <div class="mt-6 text-gray-700 flex flex-row justify-start">
        <div class="flex flex-row align-middle">
            <span id="like-count" class="items-center align-middle">{{likes.length}}</span>
            <a id="like-btn" href="" data-blog-id="123">
              <svg class="w-6 h-6 ml-2 hover:cursor-pointe {{#if liked}} fill-red {{else}} fill-none {{/if}} stroke-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 107.39">
              <path class="cls-1" d="M60.83,17.18c8-8.35,13.62-15.57,26-17C110-2.46,131.27,21.26,119.57,44.61c-3.33,6.65-10.11,14.56-17.61,22.32-8.23,8.52-17.34,16.87-23.72,23.2l-17.4,17.26L46.46,93.55C29.16,76.89,1,55.92,0,29.94-.63,11.74,13.73.08,30.25.29c14.76.2,21,7.54,30.58,16.89Z"/>
              </svg>
            </a>
        </div>
      <div class="flex flex-row align-middle ml-6">
        <span class="items-center align-middle">{{comments.length}}</span>
        <svg class="w-6 h-6 ml-2" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
            </defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="Icon-Set" sketch:type="MSLayerGroup" transform="translate(-152.000000, -255.000000)" fill="#000000">
                        <path d="M168,281 C166.832,281 165.704,280.864 164.62,280.633 L159.912,283.463 L159.975,278.824 C156.366,276.654 154,273.066 154,269 C154,262.373 160.268,257 168,257 C175.732,257 182,262.373 182,269 C182,275.628 175.732,281 168,281 L168,281 Z M168,255 C159.164,255 152,261.269 152,269 C152,273.419 154.345,277.354 158,279.919 L158,287 L165.009,282.747 C165.979,282.907 166.977,283 168,283 C176.836,283 184,276.732 184,269 C184,261.269 176.836,255 168,255 L168,255 Z M175,266 L161,266 C160.448,266 160,266.448 160,267 C160,267.553 160.448,268 161,268 L175,268 C175.552,268 176,267.553 176,267 C176,266.448 175.552,266 175,266 L175,266 Z M173,272 L163,272 C162.448,272 162,272.447 162,273 C162,273.553 162.448,274 163,274 L173,274 C173.552,274 174,273.553 174,273 C174,272.447 173.552,272 173,272 L173,272 Z" id="comment-2" sketch:type="MSShapeGroup">

            </path>
                    </g>
              </g>
      </svg>
      </div>
        
      </div>

      <!-- Comments -->
      <section class="w-full py-8 lg:py-16 antialiased">
        <div class="mx-auto px-4">
          <h2
            class="text-2xl font-bold text-gray-900 dark:text-white mb-4"
          >Discussion ({{comments.length}})</h2>
          {{#if ../user}}
            <form class="mt-6">
              <div class="mb-4">
                <label for="comment" class="sr-only">Your comment</label>
                <textarea
                  id="comment-box"
                  rows="2"
                  class="comment-box w-full p-3 text-sm resize-none overflow-hidden text-gray-900 bg-white border border-gray-200 rounded-lg focus:ring-1 focus:ring-primary-400 dark:focus:ring-primary-900 focus:outline-none"
                  placeholder="Write a comment..."
                  required
                ></textarea>
              </div>
              <button
                id = "comment-btn"
                type="submit"
                class="py-2.5 px-4 mx-auto text-sm font-medium text-grey bg-red-300 rounded-lg hover:bg-red-400"
              >
                Post comment
              </button>
            </form>
          {{/if}}
          {{#unless ../user}}
            <div><a class="px-4 py-2 bg-red-300 hover:bg-red-400 rounded-xl mb-6" href="/auth/login">Comment</a></div>
          {{/unless}}

          {{#if comments.length}}
            <ul class="comment-list my-0 mt-6">
              {{#each comments}}
                <li
                  class="comment bg-pink-50 dark:bg-gray-800 shadow-lg mb-6"
                >
                  <div class="p-4 flex items-center justify-between">
                  <div class="flex items-center justify-start">
                    <img
                      class="w-10 h-10 rounded-full"
                      src="/img/dp/{{user/_id}}.png"
                      alt="{{user/name}}"
                    />
                    <div class="ml-3">
                      <p class="text-sm font-semibold text-gray-900">
                        {{user/username}}
                      </p>
                      <p class="text-sm text-gray-600 ">
                        <time pubdate datetime="{{date}}">
                          {{formatDate createdAt}}
                        </time>
                      </p>
                    </div>
                  </div>

                  <div id="{{_id}}" class="edit-delete-btn-container flex items-center" data-current-user="{{../../user/_id}}" data-comment-author="{{user/_id}}">
                    <button
                      id="edit-btn-{{_id}}"
                      class="edit-btn hidden bg-blue-100 hover:bg-blue-200 p-2 rounded-md"
                    >
                      <img class="h-4 w-4" src="/img/edit.png" alt="Edit">
                    </button>

                    <button
                      id="update-btn-{{_id}}"
                      class="update-btn hidden bg-green-100 hover:bg-green-200 p-2 rounded-md ml-2"
                    >
                      <img class="h-4 w-4" src="/img/update.png" alt="Update">
                    </button>

                    <button
                      id="delete-btn-{{_id}}"
                      class="delete-btn hidden bg-red-100 hover:bg-red-200 p-2 rounded-md ml-2"
                    >
                      <img class="h-4 w-4" src="/img/delete.png" alt="Delete">
                    </button>
                    <div id="popup-modal" tabindex="-1" class="hidden fixed inset-0 items-center justify-center">
                      <div class="relative p-4 w-full max-w-md max-h-full">
                          <div class="relative bg-pink-100 rounded-lg shadow">
                              <button id="close-btn" type="button" class="absolute top-3 end-2.5 text-gray-900 bg-red-200 hover:bg-gray-400 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="popup-modal">
                                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                  </svg>
                                  <span class="sr-only">Close modal</span>
                              </button>
                              <div class="p-4 md:p-5 text-center">
                                  <svg class="mx-auto mb-4 text-gray-900 w-12 h-12" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                  </svg>
                                  <h3 class="mb-5 text-lg font-normal text-gray-500">Are you sure you want to delete this comment?</h3>
                                  <button id="confirm-btn" data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center me-2">
                                      Yes, I'm sure
                                  </button>
                                  <button id="cancel-btn" data-modal-hide="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">No, cancel</button>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                  <textarea id="comment-box-{{_id}}" class="comment-box text-gray-700 bg-pink-50 p-2 items-center overflow-hidden resize-none pl-4 w-full outline-none border-none overflow-y-auto" readonly>{{this.text}}</textarea>
                </li>
              {{/each}}
            </ul>
          {{/if}}
        </div>
      </section>
    {{/with}}
  </div>

  <!-- Right Section (Author Info) -->
  <a href="/u/{{blogPost.author.username}}">
  <aside
    class="sticky h-fit rounded-xl hover:border-none hover:shadow-2xl py-10 px-10 hover:cursor-pointer border-red-200 border-l-2"
  >
    <!-- Author Profile Information -->
    <div class="mb-6">
      <h2
        class="text-xl font-semibold font-mono m-0 mb-4 px-4 py-2 bg-purple-300 rounded-xl"
      >Author's Profile</h2>
      <div class="flex flex-col items-center space-x-4">
        <img
          class="w-32 h-32  rounded-full my-5"
          src="/img/dp/{{blogPost/author/_id}}.png"
          alt="Author Avatar"
        />
        {{#with blogPost.author}}
        <div>
          <p class="text-lg font-semibold">{{name}}</p>
          <p class="text-gray-600">Email: {{email}}</p>
          <p class="text-gray-600">Username: {{username}}</p>
        </div>
        {{/with}}
      </div>
    </div>
  </aside>
  </a>
</div>

{{!-- include script --}}
<script src="/js/blogs/blog-post.mjs"></script>