<link rel="stylesheet" href="/styles/blog-post.css">
{{#with blogPost}}
<div class="blog-post">
    <h2>{{title}}</h2>
    <p class="author">Written by <a href="/u/{{author.username}}">{{author.username}}</a></p>
    <p class="date-published">Published on {{publicationDate}}</p>
    {{#if updatedDate}}
        <p class="date-updated">Updated on {{updatedDate}}</p>
    {{/if}}
    <p class="content">{{content}}</p>
    
    {{likes.length}} Likes {{comments.length}} Comments

    {{#if comments.length}}
        <ul class="comment-list">
            {{#each comments}}
                <li class="comment">
                    <div class="comment-header">
                        <p class="comment-author">{{author.username}}</p>
                    </div>
                    <p class="comment-text">{{text}}</p>
                </li>
            {{/each}}
        </ul>
    {{/if}}
</div>
{{/with}}