  <main class="mx-auto text-center lg:mb-16 mb-8">
    <h1 class="text-3xl font-semibold font-mono">Your Blog Posts</h1>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10">
      <table class="text-sm text-left rtl:text-right text-gray-500 w-full">
        <thead class="text-xs text-gray-700 uppercase bg-purple-300">
          <tr>
            <th scope="col" class="px-6 py-3">
              Title
            </th>
            <th scope="col" class="px-6 py-3">
              Date
            </th>
            <th scope="col" class="px-6 py-3">
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each userBlogs}}
            <tr class="odd:bg-red-50 even:bg-red-100 border-purple-300">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                <a href="/blog/{{_id}}">{{title}}</a>
              </th>
              <td class="px-6 py-4">
                {{publicationDate}}
              </td>
              <td class="px-6 py-4">
                <a
                  href="/blog/{{_id}}/edit"
                  class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                >Edit</a>
                <a
                  href="/blog/{{_id}}/delete"
                  class="font-medium text-red-600 dark:text-red-500 hover:underline ml-2"
                >Delete</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </main>