<link rel="stylesheet" href="/styles/global.css">
<div id="content">
    {{#each data.blogPosts}}
        <div class="blog-card">
            {{!-- <img src="/img/icon.png" height="300px" width="400px" alt="App Icon"> --}}
            <h2><a href="/blog/{{_id}}">{{title}}</a></h2>
            <p>By {{author.name}}</p>
            <p>Published On: {{publicationDate}}</p>
            <p>{{content}}</p>
            <p><a href="/blog/{{_id}}">Read more</a></p>
        </div>
    {{/each}}
</div>