<link rel="stylesheet" href="/styles.css" />
<section class="min-h-screen bg-red-100 border-red-200">
  <div class="mx-auto">
    <div class="py-8 lg:grid grid-cols-5 gap-8">
      <aside
        class="sticky px-4 lg:col-span-1 hover:shadow-2xl focus:shadow-2xl p-10 hover:cursor-pointer border-r-2 border-red-200 hover:border-none"
      >
        <form action="/home" method="GET">
          <h3 class="text-2xl font-mono mb-4">Filter Blogs</h3>
          <div class="mb-4">
            <input
              class="mb-4 rounded-xl h-8 w-64 px-4 bg-red-100 border-red-200 border-2"
              type="text"
              name="author"
              id="author"
              placeholder="Author Username"
              {{#if query.author}}
                value="{{query.author}}"
              {{/if}}
            />
          </div>
          <div class="mb-4">
            <input
              class="mb-4 rounded-xl h-8 w-64 px-4 bg-red-100 border-red-200 border-2"
              type="text"
              name="keyword"
              id="keywords"
              placeholder="Search Keyword"
              {{#if query.keyword}}
                value="{{query.keyword}}"
              {{/if}}
            />
          </div>
          <div class="mb-4">
            <input
              class="mb-4 rounded-xl h-8 w-64 px-4 bg-red-100 border-red-200 border-2"
              type="text"
              name="tag"
              id="tag"
              placeholder="Tag"
              {{#if query.tag}}
                value="{{query.tag}}"
              {{/if}}
            />
          </div>
          <button
            class="bg-red-300 text-black px-8 py-2 mt-4 rounded-xl hover:bg-red-400"
            type="submit"
          >
            Filter
          </button>
        </form>
      </aside>

      <div class="lg:col-span-3">
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
          <h2
            class="mb-4 text-3xl lg:text-4xl tracking-tight font-mono font-semibold text-gray-900 dark:text-white"
          >Recent Blogs</h2>
        </div>
        <div class="grid gap-8 lg:grid-cols-2" id="content">

          {{#each data/blogPosts}}
            <article
              class="p-6 flex flex-col justify-between bg-purple-100 rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 hover:bg-purple-200 hover:shadow-xl"
            >
              <!-- Display tags for each blog post -->
              <div class="flex flex-col justify-start">
                <div class="flex justify-between items-center mb-5 text-gray-500">
                  <div>
                    {{#each tags}}
                      <a
                        class="inline-block px-3 py-1 mr-2 text-sm font-semibold text-gray-700 bg-pink-300 rounded-full"
                        href="/home?tag={{name}}"
                      >{{name}}</a>
                    {{/each}}
                  </div>
                  <span class="text-sm">{{formatTimeElapsed publicationDate}}</span>
                </div>
                <h2
                  class="mb-2 text-xl font-semibold tracking-tight text-gray-900"
                ><a href="/blog/{{_id}}">{{title}}</a></h2>
              </div>
              {{!-- <div class="rounded-2xl">
                <img class="w-full  py-4 overflow-hidden" src="/img/blog-cover.jpeg" alt="{{title}}">
              </div> --}}
              <p
                class="mb-5 font-light text-gray-500 dark:text-gray-400"
              >{{this/content}}...</p>
              <div class="flex justify-between items-center">
                <div class="flex items-center space-x-4">
                  <img
                    class="w-7 h-7 rounded-full"
                    src="/img/dp/{{author/_id}}.png"
                    alt="{{author.username}}"
                  />
                  <a href="/u/{{author.username}}">
                    <span
                      class="font-medium dark:text-white"
                    >{{author.username}}</span>
                  </a>
                </div>
                <a
                  href="/blog/{{_id}}"
                  class="inline-flex items-center font-medium text-primary-600 dark:text-primary-500 hover:underline"
                >
                  Read more
                  <svg
                    class="ml-2 w-4 h-4"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  ><path
                      fill-rule="evenodd"
                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    ></path></svg>
                </a>
              </div>
            </article>
          {{/each}}

        </div>
      </div>

      <aside
        class="sticky lg:col-span-1 hover:border-none hover:shadow-2xl focus:shadow-2xl py-10 px-5 hover:cursor-pointer border-red-200 border-l-2"
      >
        <div class="my-4 shadow-red-100 font-mono">
          <br />
          <a
            class="text-xl font-semibold py-2 my-4 rounded-xl hover:text-green-600"
            href="/blog/random"
          >
            Random Blog
          </a>
        </div>

        <!-- Popular Tags in the Right Sidebar -->
        <div class="mb-4 shadow-red-100 font-mono">
          <h3 class="text-xl font-semibold mb-4">Popular Tags</h3>
          <ul class="flex flex-col justify-center">
            {{#each data.popularTags}}
              <li>
                <a
                  class="bg-red-300 p-2 my-16 px-4 rounded-xl hover:bg-red-400"
                  href="/home?tag={{this.name}}"
                >{{this.name}} ({{this.count}})</a>
              </li>
            {{/each}}
          </ul>
        </div>

        <!-- Popular Authors in the Right Sidebar -->
        <div class="mb-4 shadow-red-100 font-mono">
          <h3 class="text-xl font-semibold mb-4">Popular Authors</h3>
          <ul class="flex flex-col justify-center">
            {{#each data.popularAuthors}}
              <li>
                <a
                  class="bg-purple-300 p-2 my-32 px-4 rounded-xl hover:bg-purple-400"
                  href="/home?author={{username}}"
                >{{username}}</a>
              </li>
            {{/each}}
          </ul>
        </div>

      </aside>

    </div>
  </div>
</section>